#  ------------------------------------------------------------------------
# # Ignore everything
# *

# # Don't ignore directories, so we can recurse into them
# !*/

# # Don't ignore .gitignore and *.foo files
# !.gitignore
# !*.py
# !*.md
# !*.csv


# Ignore
*.pdf
*_old.py
*.pbix
*.duckdb
*.duckdb.wal

